<h1>確認画面</h1>
<h3>入力内容をご確認ください</h3>

<ul>
  <li>開始時間: <%= @start_date %></li>
  <li>終了時間: <%= @end_date %></li>
  <li>人数: <%= @person_num %></li>
  <li>料金: <%= @price %></li>
</ul>

<%= form_with model: @reservation, url: reservations_path, scope: :reservation, local: true do |f| %>
  <%= f.hidden_field :start_date, value: @start_date %>
  <%= f.hidden_field :end_date, value: @end_date %>
  <%= f.hidden_field :person_num, value: @person_num %>

  <%= f.submit "予約を確定する" %>
<% end %>
